{% extends 'base.html' %}

        {% block content %}
        <main>
            <div class="my-tasks-list">
                <h1>My Tasks</h1>
                {% if not user.tasks %}
                <p>You have no tasks</p>
                {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% for data in task_list.all %}
                        <tr>
                            <td>{{ data.name }}</td>
                            <td>{{ data.start_date }}</td>
                            <td>{{ data.due_date }}</td>
                            <td>{% if not data.is_completed %}
                                <form method="POST" action="{% url 'complete_task' data.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="is_completed" value="True">
                                <button>Complete</button>
                                </form>
                                {% else %}
                                {{ data.is_completed|yesno:"Done," }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        {% endblock content %}
