{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            {{ project.description|markdownify }}
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not project.tasks.all %}
                        <p>This project has no tasks</p>
                    {% endif %}
                    {% for things in project.tasks.all %}
                        <tr>
                            <td>{{ things.name }}</td>
                            <td>{{ things.assignee }}</td>
                            <td>{{ things.start_date }}</td>
                            <td>{{ things.due_date }}</td>
                            <td>{{ things.is_complete|yesno:"Yes,No" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
