{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Numbers of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proj in project_list %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' proj.pk %}">{{ proj.name }}</a>
                            </td>
                            <td>
                                <a href="{% url 'show_project' proj.pk %}">{{ proj.tasks.all|length }}</a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
